.container {
  max-width: 1200px;
  min-width: 350px;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-self: center;
}

.cartItemsContainer {
  flex-grow: 2;
  width: clamp(350px, 40vw, 700px);
}

.summaryContainer {
  flex-grow: 1;
  min-width: 350px;
}

.summaryContainer div {
  display: flex;
  justify-content: space-between;
}

.summaryContainer hr {
  margin-bottom: 1.5rem;
}

.grandTotal {
  font-size: 1.25rem;
  font-weight: 600;
}

.itemCard {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-block: 1rem;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 0.1);
}

.itemInfo {
  padding: 1rem;
  width: 300px;
}

.itemCard > img {
  max-height: 200px;
  max-width: 150px;
  padding: 1rem;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.plusMinusContainer {
  display: flex;
  align-items: center;
}

.buttonContainer button {
  font-size: 2rem;
  width: 3rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  background-color: #333;
  cursor: pointer;
  margin-right: 0.25rem;
}

.buttonContainer button:hover,
.checkout:hover {
  background-color: #777;
}

.checkout {
  font-size: 1.25rem;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}
